* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
button {
  background: none;
  border: none;
  margin-left: 6px;
  cursor: pointer;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  padding: 10px;
}

.box {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 7px;
  background-color: #f7f7f7;
}
